<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="lab1.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <lab1.Config>
            <setting name="url" serializeAs="String">
                <value>https://www.strava.com/oauth/</value>
            </setting>
            <setting name="client_id" serializeAs="String">
                <value>94541</value>
            </setting>
            <setting name="redirected_uri" serializeAs="String">
                <value>http://localhost:8080</value>
            </setting>
            <setting name="client_secret" serializeAs="String">
                <value>0e93188bc2de243ac4850a9cd1c2bfabd8f5020d</value>
            </setting>
            <setting name="access_token" serializeAs="String">
                <value />
            </setting>
            <setting name="refresh_token" serializeAs="String">
                <value />
            </setting>
        </lab1.Config>
    </userSettings>
</configuration>